body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  background-color: #212121;
  color: white;
}

#title {
  font-size: 4em;
  text-align: center;
  margin-top: 25px;
}

.squished {
  transform: scaleX(0);
}

#appointmentsContainer {
  height: 100%;
  margin-top: 82px;
  overflow-y: scroll;
  padding-bottom: 400px;
}

#leftContainer {
  position: fixed;
  top: 0;
  background: #171717;
  height: 100%;
  width: 250px;
  transition: transform 0.5s ease;
  transform-origin: left;
}

.leftbarButton {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: none;
}

#closeLeftbar {
  position: fixed;
  top: 7px;
  left: 7px;
}

#newAppointment {
  position: fixed;
  top: 7px;
  left: 50px;

}

#chatContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: calc(100vh - 132px);
  max-width: 700px;
}

#chatArea {
  flex-grow: 1;
  margin-bottom: 20px;
  overflow: scroll;
  max-height: calc(100vh - 220px);
}

#chatInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  background: #2F2F2F;
  color: white;
  resize: none;
  border: none;
  margin-top: auto;
  outline: none;
  overflow-y: hidden;
  padding-top: 17px;
  padding-bottom: 17px;
  field-sizing: content;
  max-height: 300px;
  border-radius: 30px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 23px;
}

#leftbarTitle {
  position: fixed;
  margin-left: 7px;
  margin-top: 50px;
}

.appointment {
  width: 200px;
  height: 43px;
  background: #2e2d2d;
  margin-left: 7px;
  border-radius: 500px;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 13px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.appointment:hover {
  transform: scale(1.03);
}

.aiResponseContainer {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.aiPfpContainer {

}

.aiPfp {
  width: 50px;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}


.aiTextContainer {
  padding-top: 15px;
  padding-left: 10px;
  word-wrap: break-word;
  width: 100%;
  padding-bottom: 10px;
  line-height: 23px;
}

























































