body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  background-color: #212121;
  color: white;
  overflow: hidden;
}

#title {
  font-size: 4em;
  text-align: center;
  margin-top: 25px;
}

.squished {
  transform: scaleX(0);
}

#appointmentsContainer {
  height: 100%;
  margin-top: 82px;
  overflow-y: scroll;
  overflow-y: hidden;
  padding-bottom: 400px;
}

#leftContainer {
  position: fixed;
  top: 0;
  background: #171717;
  height: 100%;
  width: 250px;
  transition: transform 0.5s ease;
  transform-origin: left;
}

.leftbarButton {
  cursor: pointer;
  height: 27px;
  width: 27px;
  border: none;
}

#closeLeftbar {
  position: fixed;
  top: 7px;
  left: 8px;
  background: transparent;
  background-image: url('/static/images/sidebarToggle.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#newAppointment {
  position: fixed;
  top: 7px;
  left: 47px;
  background: transparent;
  background-image: url('/static/images/newChat.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  height: calc(100vh - 132px);
  max-width: 775px;
}

#chatArea {
  flex-grow: 1;
  margin-bottom: 20px;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
}

#chatInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  background: #2F2F2F;
  color: white;
  resize: none;
  border: none;
  margin-top: auto;
  outline: none;
  padding-top: 17px;
  padding-bottom: 17px;
  field-sizing: content;
  max-height: 300px;
  border-radius: 30px;
  font-size: 16px;
  padding-left: 22px;
  padding-right: 100px;
  line-height: 23px;
}

#leftbarTitle {
  position: fixed;
  margin-left: 7px;
  margin-top: 50px;
}

.appointment {
  width: 200px;
  height: 43px;
  background: #2F2F2F;
  margin-left: 7px;
  border-radius: 500px;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 13px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.appointment:hover {
  transform: scale(1.03);
}

.aiResponseContainer {
  margin-top: 15px;
  display: flex;
  width: 100%;
}

.aiPfpContainer {

}

.aiPfp {
  width: 50px;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}


.aiTextContainer {
  padding-right: 15px;
  padding-left: 15px;
  word-wrap: break-word;
  width: fit-content;
  line-height: 23px;
  margin-right: 70px;
  margin-left: 5px;
  background: #2F2F2F;
  border-radius: 30px;
}

.userPfpContainer {

}

.userPfp {
  height: 50px;
  width: 50px;
  background: white;
  color: black;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 4px;
  margin-right: 5px;
  margin-bottom: 4px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}


.userResponseContainer {
  margin-top: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.userTextContainer {
  padding-top: 16px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 16px;
  word-wrap: break-word;
  width: fit-content;
  line-height: 23px;
  float: right;
  margin-left: 70px;
  margin-right: 5px;
  background: #2F2F2F;
  border-radius: 30px;
}

#fileUpload {
  position: absolute;
  background: transparent;
  border: none;
  background-image: url('/static/images/fileUpload.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  cursor: pointer;
  bottom: 32px;
  border-radius: 100%;
  background-size: 95%;
  background-position: center 0px;
  left: calc(50% + 295px);
  border: 1px solid white;
}

#enterResponse {
  position: absolute;
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 100%;
  bottom: 32px;
  right: calc(50% - 375px);
  cursor: pointer;
  background-image: url('/static/images/upArrow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
}

@media (max-width: 775px) {
  #enterResponse {
    right: 12px;
  }
}













































